
@{
    ViewData["Title"] = "AcceptanceRecord";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
  .portlet-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .portlet-head .form-control {
    min-width: 220px;
    margin-right: 10px;
  }
  .portlet-head label {
    margin-right: 10px;

    min-width: 70px;
  }

  table {
    width: 100%
  }

  table th {
    font-size: 18px;
  }
</style>

<div id="acceptanceRecord">
  <div class="portlet">
    <div class="portlet-title">
      <div class="portlet-head">
        <select class="form-control" v-model='searchParams.supplierId'>
          <option value="0">Выбрать поставщика</option>
          <option v-for="item in suppliers" :key='item.id' :value="item.id">{{item.title}}</option>
        </select>
        <div>
          <label>Дата с:</label>
        </div>    
        <input class="form-control" type='date' v-model='searchParams.dateFromStr'/>
        <label>Дата по:</label>
        <input class="form-control" type='date' v-model='searchParams.dateForStr'/>
        <button v-on:click='getData()' class="btn btn-dark">Показать</button>
      </div>
    </div>
  </div>

  <div class="portlet">
    <div class="portlet-body">
      <table class="table">
        <template v-if='!dates.length'><h4>Введите параметры поиска...</h4></template>
        <tbody v-if='dates.length'>         
          <tr>
            <th colspan='2'></th>
            <th>Стоимость товара</th>
            <th>Сумма оплаты</th>
          </tr> 
          <template v-for='item in dates'>             
            <tr>
              <th colspan='4'>Дата: {{item.date}}</th>
            </tr>     
            <tr v-if='item.supplieds.length'>
              <th colspan='4'>Поступление товара</th>
            </tr>  
            <template v-for='supply in item.supplieds'>                              
              <tr>
                <td>{{supply.productTitle}}</td>
                <td>{{supply.amount}} шт. x {{supply.priceOfUnit}} руб.</td>
                <td>{{supply.priceSum}} руб</td>
              </tr>
            </template>
            <tr v-if='item.payments.length'>
              <th colspan='4'>Оплата</th>
            </tr> 
            <template v-for='payment in item.payments'>                      
              <tr>
                <td colspan='3'></td>
                <td>{{payment.sum}} руб.</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>

  const List = new Vue({
    el: '#acceptanceRecord',
    data: {
      dates: [],
      suppliers: [],
      searchParams: {
        dateFromStr: '',
        dateForStr: '',
        supplierId: 0
      }
    },
    methods: {
      getData: function () {
        fetch('/Admin/AcceptanceRecordData?' + new URLSearchParams({
          fromDateStr: this.searchParams.dateFromStr,
          forDateStr: this.searchParams.dateForStr,
          supplierId: this.searchParams.supplierId
        }))
          .then(data => data.json())
          .then(data => this.dates = data.dates)
      },
      logData: function() {
        console.log(this.dates)
      }
    },
    created: function() {
      fetch('/Supplier/GetAll')
        .then(data => data.json())
        
        .then(suppliers => this.suppliers = suppliers)
    }   
  })

</script>