
@{
    ViewData["Title"] = "Replenishment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="portlet-head">
                    <h4>Пополнение баланса</h4>
                </div>
            </div>
            <div class="portlet-body">
                <form action="/Admin/Replenishment" method="post">
                    <h3 class="title">Пополнение</h3>
                    
                    <label>Выбрать счет</label>
                    <select id="moneyWorkerType" class="form-control" onchange="selectMoneyWorkers()">
                        <option value="null">Не отправлять</option>
                        <option value="1">Держатель Карты</option>
                        <option value="2">Рассчетный Счет</option>
                        <option value="3">Касса Магазина</option>
                    </select> <br />

                    <select id="moneyWorkerId" class="form-control" name="moneyWorkerId">
                        <option disabled selected value="null">Выбрать</option>
                    </select> <br/>
                    
                    <label>Сумма</label>
                    <input type="text" class="form-control" name="sum"/><br/>

                    <button class="btn btn-submit">Сохранить</button>
                    <a href="/Admin/Index" class="btn btn-dark">Назад</a>
                    
                </form>
            </div>            
        </div>
    </div>
</div>


<script type="text/javascript">
    function selectMoneyWorkers() {
        let moneyWorkerSelect = document.getElementById('moneyWorkerType');
        let moneyWorkerValue = moneyWorkerSelect.options[moneyWorkerSelect.selectedIndex].value;

        fetch('/Admin/GetMoneyWorkers/' + moneyWorkerValue,
                {
                    headers: { "Content-Type": "application/json" },
                    credentials: 'include'
                })
            .then((res) => {
                return res.json();
            })
            .then((json) => {

                $('#moneyWorkerId').html('');

                json.forEach(json => {
                    $('#moneyWorkerId').append('<option value="' +
                        json.id +
                        '">' +
                        json.title +
                        '</option>');
                });
            });
    }
</script>