
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title"></div>
            <div id="productList" class="portlet-body">
                <div v-for="product in products" style="display: flex; align-items: center; justify-content: flex-start">
                    <b style="margin-right: 10px">{{product.title}}</b>
                    <input type="number"
                           v-model="product.amount"
                           class="form-control"
                           style="width: 100px; display: inline-block; margin-right: 10px"
                           v-bind:disabled="!product.changes || product.supplyProductId > 0">

                    <template v-if="!product.confirmed && product.supplyProductId == 0">
                        <span class="btn btn-dark" v-on:click="productConfirm(product)" style="margin-right: 10px">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                    </template>

                </div>
                <button class="btn btn-submit" onclick="send()">Сохранить</button>
                <a href="/ManagerScheduledSupply/SupplyList" class="btn btn-dark">Назад</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<script>

  var ProductList = new Vue({
    el: '#productList',
    data: {
      products: [],
    },
    methods: {
      productConfirm: function (product) {
        product.confirmed = true
      },
      sendData: function () {
        var data = {
          deliveryId: @ViewBag.Id,
          products: this.products.map(product => (
            {
              productDeliveryId: +product.id,
              productTitle: product.title,
              shopId: +product.shopId,
              amount: +product.amount,
              confirmed: product.confirmed,
              prev: +product.prev
            }
          ))
        }

        return fetch("/ManagerScheduledSupply/Detail", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          redirect: "follow",
          credentials: "include",
          body: JSON.stringify(data)
        })
      }
    },
    created: function () {
      fetch('/ManagerScheduledSupply/Products/@ViewBag.Id', {
        headers: { 'Content-Type': 'application/json' },
        credentials: 'include'
      })
      .then((res) => {
        return res.json()
      })
      .then((res) => {
        console.log(res)
        res.forEach(product => {
          this.products.push({
            id: product.id,
            title: product.title,
            shop: product.shop,
            shopId: product.shopId,
            amount: product.amount,
            changes: false,
            confirmed: false,
            prev: 0,
            supplyProductId: product.supplyProductId
          })
        })
      })
    }
  })

  function send() {
    this.ProductList.sendData().then(res => window.location.href = res.url);
  }

</script>

