
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h3 class="page-title">Категории расходов <small>Просмотр и редактирование категорий расходов</small></h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="portlet-head">
                    Список категорий расходов
                </div>
                <div class="portlet-action">
                    <a href="/CategoryExpense/Create" class="btn add-button">Новая Категория</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td>@c.Title</td>
                                    <td>
                                        <a href="/CategoryExpense/Edit/@c.Id" class="btn btn-dark">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
